
body {
    background:  gray;
    margin-left: 2em;
    margin-right: 2em;
    text-align:center;
    /*display: inline-block*/
}


#rowh, #row1, #row2, #row3, #row4 {
    outline: black solid 2px;
    height: 12vh;
    text-align: center;

}

.one.columns, .two.columns, .three.columns, .four.columns, .five.columns, .six.columns , .seven.columns, .eight.columns {
    background: red;
    outline: black solid 2px;
    display: inline;
    margin: .5em;
    height: 80%;
    width: 10%;
    text-align: center;
}


.hide, .guess, .newGame {
    display: inline-block;
    border: black solid 2px;
    height: 30vh;
    width: 30vw;
    vertical-align: top;
}

.scoreboard {
    height: 30vh;
    display: inline;
}


.board {
    background: #01294e;
}
