
body {
    background:  gray;
    margin-left: 2em;
    margin-right: 2em;
}


#row1, #row2, #row3 {
    outline: black solid 2px;
    height: 18vh;
    text-align: center;

}

.one.columns, .two.columns, .three.columns, .four.columns, .five.columns, .six.columns {
    background: red;
    outline: black solid 2px;
    display: inline;
    margin: .5em;
    height: 80%;
    width: 10%;
    text-align: center;
}


.hide, .guess, .return-text {
    display: inline;
    border: black solid 2px;
}

.board {

}
